<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/echarts.min.js}"></script>
    <script th:src="@{/js/vue.min.js}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>single fund fluctuate</title>
</head>
<body>


<div>
    <div id="main" style="width: 800px;height:400px;"></div>
    <div id="test">
        <p>{{fundInfo}}</p>
    </div>

</div>


<script type="text/javascript">

    var vm = new Vue({
      el:'#test',
      data:{
        fundInfo: {}
      },
      created: function () {
        axios
          .get('http://localhost/000071/month/last/12')
          .then(response => (this.fundInfo = response.data))
          .catch(error => {
            console.log(error)
            this.errored = true
          })
          .finally(() => this.loading = false)
      }
    })

    console.log(vm.fundInfo.fundName)

    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    option = {
        title: {
            text: '基金涨幅波动',
            subtext: '/每月'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ["华夏恒生ETF联接A"]
        },
        toolbox: {
            show: true,
            orient: 'vertical',
            left: 'right',
            top: 'center',
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: {readOnly: false},
                magicType: {type: ['line', 'bar']},
                restore: {},
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ["2019-04","2019-01","2019-02","2019-03","2019-05","2019-06","2019-07","2019-08","2019-09","2019-10","2019-11","2019-12","2020-01"]
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: '{value}'
            }
        },
        series: [
            {
                name: '华夏恒生ETF联接A',
                type: 'line',
                data: [2.06,6.5,1.98,2.05,-6.22,6.21,-2.34,-4.77,1.47,2.84,-2.16,6.18,1.22],
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                }

            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);





  </script>



</body>
</html>