<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <script th:src="@{/js/echarts.min.js}"></script>
  <script th:src="@{/js/vue.min.js}"></script>
  <script th:src="@{/js/echarts-fillin.js}"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link   th:href="@{/css/forone.css}" rel="stylesheet" type="text/css" />
  <title>single fund fluctuate</title>
</head>

<body>

<div>
  <div id="chart" class="leftfloat" ></div>

  <div id="selector"  class="rightfloat" >
    <div id="query" class="searchBox">
      <input v-model="fundCode" class="inputBox" placeholder="请输入基金代码" >
      <button class="searchBtn" onclick="getFluctuate()">添加</button>

    </div>
    <div id="compare"></div>
  </div>

</div>


<script type="text/javascript">

    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('chart'));

    // 指定图表的配置项和数据
    chartTemplate = {
        title: {
            text: '基金涨幅波动',
            subtext: '/每月'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: []
        },
        toolbox: {
            show: true,
            orient: 'vertical',
            left: 'right',
            top: 'center',
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: {readOnly: false},
                magicType: {type: ['line', 'bar']},
                restore: {},
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: []
        },
        yAxis: {
            type: 'value',
            axisLabel: {
                formatter: '{value}'
            }
        },
        series: []
    };

  myChart.setOption(chartTemplate)

  var existingCodes = []

  var vm = new Vue({
    el: '#query',
    data: {fundCode: ''}
  })

  function getFluctuate(){
    console.log(existingCodes);

    if( !existingCodes.includes(vm.fundCode) ){
      axios
        .get(vm.fundCode+'/month/last/12')
        .then(response => appendDataToChart(response.data, chartTemplate))
        .then(() => existingCodes.push(vm.fundCode))
        .then(() => myChart.setOption(chartTemplate))
        .catch(error => {
          console.log(error)
          this.errored = true
        })
        .finally(() => this.loading = false)
    }
  }

<!--    axios-->
<!--      .get('http://localhost/000071/month/last/12')-->
<!--      .then(response => appendDataToChart(response.data, chartTemplate))-->
<!--      .then(() => myChart.setOption(chartTemplate))-->
<!--      .catch(error => {-->
<!--        console.log(error)-->
<!--        this.errored = true-->
<!--      })-->
<!--      .finally(() => this.loading = false)-->





<!--    var vm = new Vue({-->
<!--      el:'#test',-->
<!--      data:{-->
<!--        fundInfo: {}-->
<!--      },-->
<!--      created: function () {-->
<!--        axios-->
<!--          .get('http://localhost/000071/month/last/12')-->
<!--          .then(response => (this.fundInfo = response.data))  &lt;!&ndash; the responded content is contained in data field of response&ndash;&gt;-->
<!--          .then(() => appendDataToChart(this.fundInfo, chartTemplate))-->
<!--          .then(() => myChart.setOption(chartTemplate))-->
<!--          .catch(error => {-->
<!--            console.log(error)-->
<!--            this.errored = true-->
<!--          })-->
<!--          .finally(() => this.loading = false)-->
<!--      }-->
<!--    })-->






  </script>



</body>
</html>